<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/securepatientdatasharing</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <mapping class="com.voidmain.pojo.Hospital" resource="com/voidmain/pojo/Hospital.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Patient" resource="com/voidmain/pojo/Patient.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Team" resource="com/voidmain/pojo/Team.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Transaction" resource="com/voidmain/pojo/Transaction.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Treatment" resource="com/voidmain/pojo/Treatment.hbm.xml"/>
   <mapping class="com.voidmain.pojo.Block" resource="com/voidmain/pojo/Block.hbm.xml"/>
    <mapping class="com.voidmain.pojo.BlockChain" resource="com/voidmain/pojo/BlockChain.hbm.xml"/>
    <mapping class="com.voidmain.pojo.PatientDocument" resource="com/voidmain/pojo/PatientDocument.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
